<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--     <div class="field">
      <%= f.label :body %> 
      <%= f.text_area :body %>
    </div>
  <div class="field">
    <%= f.label :author %><%= f.text_field :author, :class => "author" %>
  </div> -->

  <div class="row-fluid" style="display: inline">
    <span style="min-width: 60%; width: 80%; max-width: 60%">
    <%= f.text_area :body %>
    </span>
     <span style="max-width: 10%">
      <%= f.submit :class => "submit" %>
    </span>
  </div>

  
<% end %>
