<%= render "form" %>

<table class="table">
	<tbody>
		<% @posts.each do |post| %>
		<tr class="post" id=<%= post.tags.name.each %>
		    <td class="ideaname"><%= post.body %></td>
		    <td class="timecol pull-right"><%= post.created_at %></td>
		    <td class="uid pull-right"><%= post.author %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<br />